.footer {
  background: #f4f4f4;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 50px 18px;
    gap: 36px;
  }
  &__top-content {
    display: flex;
    justify-content: space-between;
  }
  &__navbar-list {
    display: flex;
    align-items: center;
    &_item {
      padding-right: 62px;
    }
    &_link {
      @include font(400, 16px, 19px, #333);
    }
  }
  &__contacts {
    display: flex;
    gap: 62px;
    a:nth-child(1) {
      margin-right: 62px;
    }

    &_tel {
      display: flex;
      align-items: center;
      gap: 8px;
      svg {
        width: 19px;
        height: 19px;
      }
      a {
        @include font(400, 16px, 19px, #333);
      }
    }
    &_mail {
      display: flex;
      align-items: center;
      gap: 8px;
      svg {
        width: 23px;
        height: 15px;
      }
      a {
        @include font(400, 16px, 19px, #333);
      }
    }
  }
  &__bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_privacy {
      @include font(400, 14px, 20px, #8d8d8d);
    }
    &_soc-list {
      display: flex;
      gap: 12px;
    }
  }
  &__soc-list {
    &_item {
      background: #ffffff;
      border: 1px solid #8d8d8d;
      @include br(50%);
      padding: 5px;
    }
  }
  &__gap {
    min-height: 37px;
    background-color: #fff;
  }
}
