/* Desktop */
@media all and (max-width: 1920px) {
}

@media all and (max-width: 1600px) {
}

/* Laptop L   1440px */
@media all and (max-width: 1440px) {
}

/*            1200px */
@media all and (max-width: 1200px) {
}

/* Laptop *   1024px */
@media all and (max-width: 1024px) {
  [class*="__container"] {
    padding: 0 30px;
  }
  .stocks__banners-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
  .header__category-list {
    gap: 36px;
  }
  .header__main-content-list_link {
    display: none;
  }
  .footer__container {
    padding: 36px 30px 18px;
    gap: 24px;
    position: relative;
  }
  .footer__navbar-list_item {
    padding-right: 24px;
  }
  .footer__top-content {
    flex-direction: column;
    gap: 24px;
  }
  .footer__bottom-content_soc-list {
    position: absolute;
    top: 36px;
    right: 20px;
  }
  .footer__contacts {
    gap: 24px;
  }
  .stocks__banners-list {
    gap: 24px;
  }
}

/* Tablet *   768px */
@media all and (max-width: 768px) {
  [class*="__container"] {
    padding: 0 20px;
  }
  .stocks {
    margin-bottom: 73px;
  }
  .header__main-content-list_item svg {
    width: 24px;
    height: 24px;
  }
  .header__top-content_left {
    gap: 36px;
  }
  .header__category-list_btn {
    display: none;
  }
  .header__main-content_logo {
    font-size: 18px;
  }
  .footer__container {
    padding: 36px 20px 18px;
  }
}

/*            575px */
@media all and (max-width: 575px) {
  [class*="__container"] {
    padding: 0 10px;
  }
  .stocks__banners-list {
    grid-template-columns: 1fr;
    gap: 18px;
  }
  .stocks {
    margin-bottom: 48px;
  }
  .footer__container {
    padding: 24px 10px;
    gap: 12px;
  }
  .footer__bottom-content_soc-list {
    position: static;
  }
  .footer__bottom-content {
    flex-direction: column-reverse;
    gap: 24px;
    align-items: stretch;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .footer__navbar-list {
    justify-content: space-between;
  }
  .footer__top-content {
    gap: 18px;
  }
  .footer__gap {
    min-height: 24px;
  }
  .header__top-content {
    display: none;
  }
  .header__container hr {
    display: none;
  }
  .header__main-content_inner {
    position: relative;
    flex-direction: column;
    align-items: stretch;
  }
  .header__main-content-list {
    position: absolute;
    right: 0;
    gap: 25px;
  }
  .header__main-content_search {
    padding: 4px 18px;
    margin: 0 0 0 15px;
    input {
      margin-left: 16px;
    }
    svg {
      width: 18px;
    }
  }
  .header__main-content {
    margin: 20px 0 18px;
  }
  .header__basket {
    display: none;
  }
  .header__fav {
    display: none;
  }
  .header__profile {
    display: none;
  }
  .header__main-content_search-block {
    display: flex;
    margin: 24px 0 0 0;
  }
  .footer__bottom-content_privacy {
    font-size: 13px;
  }
  .header__shop {
    display: block;
  }
  .header__map {
    display: block;
  }

  // Меню бургер

  .hamb {
    display: block;
    &__field {
    }
  }
  .bar {
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .hamb__field {
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 6px auto;
    background-color: #8d8d8d;
    transition: 0.2s;
  }
  .active {
    display: block;
    width: 92%;
    position: absolute;
    z-index: 9;
  }
}

/* Mobile L   425px */
@media all and (max-width: 425px) {
}

/* Mobile M   375px */
@media all and (max-width: 375px) {
}
/* Mobile S   320px */
@media all and (max-width: 325px) {
  .footer__navbar-list_item {
    padding-right: 14px;
  }
}
